<%= stylesheet_link_tag "/plugins/highlight/styles/github.css", :media => "all" %>
<%= javascript_include_tag "/plugins/highlight/highlight.pack.js" %>

<div id="markdown_preview">
  <%== @content %>

<% unless printable_mode? %>
  <hr />
  <div class="btn-group btn-group-justified">
<%   unless action_name.to_s == "index" %>
    <%= link_to "index", {action: :index}, {class: "btn btn-default"} %>
<%   end %>
    <%= link_to "original markdown", {action: action_name, format: :md}, {class: 'btn btn-default'} %>
    <%= link_to "print friendly", {action: action_name, printable: 1}, {class: 'btn btn-default'} %>
  </div>
<% end %>
</div>

<script type="text/javascript">
jQuery(function() {
  jQuery( 'pre code' ).each( function(idx, elem) {
    hljs.highlightBlock( elem )
  } );
});
</script>
